/* ================================================
   CRITICAL CSS (CORE)
   Минимальный набор критически важных стилей
   для первоначального рендера

   Загружается синхронно в <head>
   ================================================ */

// Сначала загружаем критичные стили из main
@import './main/core';

