@use '@/styles' as *;

.audioButton {
  @include header-icon-button;
  z-index: 30;
}

.icon {
  width: 58%;
  height: 58%;
  object-fit: contain;
  flex: 0 0 auto;
}

// Equalizer
.eq {
  position: absolute;
  bottom: 6px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: flex-end;
  gap: 2px;
  height: 12px;
}

.eqBar {
  width: 2px;
  background: var(--color-text-primary);
  border-radius: 1px;
  animation: eqBounce 0.14s ease-in-out infinite alternate;

  &:nth-child(1) {
    animation-delay: 0ms;
  }
  &:nth-child(2) {
    animation-delay: 28ms;
  }
  &:nth-child(3) {
    animation-delay: 56ms;
  }
  &:nth-child(4) {
    animation-delay: 84ms;
  }
  &:nth-child(5) {
    animation-delay: 112ms;
  }
}

@keyframes eqBounce {
  from {
    height: 25%;
  }
  to {
    height: 100%;
  }
}

// Playing state
.isPlaying {
  .icon {
    opacity: 0.3;
  }
}
