@use '@/styles/mixins' as *;
@use '@/styles/components' as *;

.shopPage {
  @include page-padding;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: var(--space-page-x);
  padding-right: var(--space-page-x);
}

.loading {
  @include state-loading;
}
