/* ================================================
   UI COMPONENTS INDEX
   Импорт всех компонентов UI системы
   ================================================ */

@import './close-buttons.scss';
@import './remove-buttons.scss';
@import './dropdowns.scss';
@import './alerts.scss';
@import './modals.scss';
@import './forms.scss';
@import './switches.scss';
@import './theme-toggle.scss';
@import './tooltips.scss';
@import './badges.scss';
@import './progress.scss';
@import './skeletons.scss';
@import './tables.scss';
@import './tabs.scss';
@import './social-buttons.scss';
@import './quantity-control.scss';
// @import './slider.scss';
